html {
    background-color: white;
}

li {
    margin: 0;
}

input {
    padding: 0;
}

code {
    background-color: #cbf9e1;
    padding-inline-start: 4px;
    padding-inline-end: 4px;
    font-family: Consolas, Menlo, Monaco;
}

.green-bg {
    background-color: #7cfbb9;
    padding-inline-start: 8px;
    padding-inline-end: 8px;
    color: black;
}

